venv/
data.json
# Ignore node_modules directory
node_modules/

# Ignore package-lock.json and yarn.lock files
package-lock.json
yarn.lock

# Ignore environment variables
.env

# Ignore build artifacts
build/
public/build/

# Ignore test coverage reports
coverage/

# Test_image/
