.Data_div_container {
    width: fit-content;
    padding: 15px;
    font-size: 18px;
    /* background-color: white; */
    /* text-align: left; */
}

.User_heder {
    color: white;
    text-align: center;
    font-size: 25px;

    font-weight: bold;
}

.User_text {
    color: white;
}